.main-landing-bg{
    background-attachment: fixed;
    background-color: transparent;
    background-position: left top;
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    @include media-breakpoint-down(md){
        position: static;
    }
    .main-landing-badge{
        background-color: rgba(#df4937, 0.9);
        height: 50%;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .arnd-wrapper{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 0 74px;
        position: relative;
        width: 100%;
        @include media-breakpoint-down(md){
            display: block;
            padding: 0;
        }
        &:before{
            background-color: rgba(#df4937, 0.9);
            content: '';
            height: calc(50% + 37px);
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            @include media-breakpoint-down(md){
                content: none;
                height: calc(100% - 266px);
            }
        }
        .arnd-container{
            display: flex;
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;
            max-width: 940px;
            padding-left: 20px;
            padding-right: 20px;
            // padding: 40px 20px;
            position: relative;
            width: 100%;
            z-index: 1;
            @include media-breakpoint-down(md){
                flex-direction: column-reverse;
                padding-top: 37px;
            }
            &:before{
                background-color: rgba(#df4937, 0.9);
                content: none;
                height: calc(50% + 37px);
                bottom: 0;
                left: 0;
                position: absolute;
                width: 100%;
                @include media-breakpoint-down(md){
                    content: '';
                    height: calc(100% - 266px);
                }
            }
        }
        .arnd-content{
            align-items: center;
            display: flex;
            flex-direction: row;
            position: relative;
            width: 100%;
            z-index: 1;
            @include media-breakpoint-down(md){
                align-items: center;
                flex-wrap: wrap;
            }
            .arnd-content-left{
                align-items: center;
                display: flex;
                flex-basis: 600px;
                flex-direction: column;
                flex-grow: 0;
                flex-shrink: 0;
                margin-top: -41px;
                max-width: 600px;
                padding-right: 60px;
                // padding-top: 80px;
                @include media-breakpoint-down(md){
                    flex-basis: 100%;
                    max-width: 100%;
                    padding-right: 0;
                    padding-top: 100px;
                }
                .arnd-header{
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 30px;
                    span{
                        &:last-child{
                            color: white;
                            font-size: 36px;
                            @include font-SFProText-Regular;
                            line-height: 1.25;
                            text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
                        }
                    }
                }
                .arnd-body{
                    color: white;
                    font-size: 24px;
                    @include font-SFProText-Regular;
                    line-height: 1.25;
                    padding-top: 30px;
                    text-align: center;
                    @include media-breakpoint-down(md){
                        font-size: 18px;
                        margin-bottom: 40px;
                        margin-left: auto;
                        margin-right: auto;
                        max-width: 400px;
                    }
                }
            }
            .arnd-content-right{
                display: flex;
                flex-basis: calc(100% - 600px);
                flex-grow: 0;
                flex-shrink: 0;
                height: 604px;
                max-width: calc(100% - 600px);
                @include media-breakpoint-down(md){
                    flex-basis: 100%;
                    justify-content: center;
                    max-width: 100%;
                    padding-bottom: 40px;
                }
                img{
                    display: block;
                    max-height: 100%;
                    object-fit: contain;
                    width: auto;
                    @include media-breakpoint-down(md){
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
        .arnd-footer{
            align-items: center;
            background-color: rgba(black, 0.2);
            bottom: 0;
            display: flex;
            justify-content: center;
            left: 0;
            padding: 10px 20px;
            position: fixed;
            width: 100%;
            z-index: 2;
            @include media-breakpoint-down(md){
                background-color: rgba(black, 0.7);
                bottom: auto;
                justify-content: space-between;
                top: 0;
            }
            p{
                color: white;
                font-size: 18px;
                @include font-SFProText-Regular;
                line-height: 1.25;
                margin: 0;
                span{
                    &:first-child{
                        @include media-breakpoint-down(md){
                            display: none;
                        }
                    }
                    &:last-child{
                        font-size: 16px;
                        @include font-SFProText-Medium;
                        @include media-breakpoint-up(lg){
                            display: none;
                        }
                    }
                }
            }
            .social-list{
                align-items: center;
                display: flex;
                padding-left: 30px;
                .social-list-item{
                    max-width: 54px;
                    @include media-breakpoint-down(md){
                        max-width: 44px;
                    }
                    &:not(:last-child){
                        margin-right: 20px;
                    }
                    img{
                        display: block;
                        height: auto;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}